
.contentcard{
    /* border: 2px solid seagreen; */
    border-radius: 25px;
    height: 400px;
    width: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content-card-header{
    display: flex;
    border-bottom: 1px solid grey;
    justify-content: space-between;

}

.content-card-buttons{
    display: flex;
    gap: 25px;
    margin-bottom: 7px;
}

.content-card-btn{
    border:none;
    cursor: pointer;
    background-color: #ffff;
    width: 20px;
    height: 20px;
}
.content-card-btn :hover{
    border-radius: 50%;
    background-color: grey;
}
.content-card-middle{
    /* border: 2px solid salmon; */
    height: 200px;
}

.content-card-bottom{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.content-card-bottom-buttons{
    
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-around;
}

.content-card-bottom-btn{
    padding: 15px 0 0 0;
    border:none;
    cursor: pointer;
    background-color: #ffff;
    display: flex;
    align-items: center;
    gap: 5px;
}

.content-card-middle-header{
    display: flex;
    gap: 10px;
    align-items: center;
}

.imagesection{
    display: flex;
    gap: 10px;
}
.imagesection img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.follow-btn{
    margin: 0px 0px 26px 36px;
    border:none;
    cursor: pointer;
    background-color: #ffff;
    width: 20px;
    height: 20px;
}