.news-card-container{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    padding: 15px;
}


.news-card-header{
    display: flex;
    border: 2px solid green;
    gap: 50%;
}

.news-card-topstories{
    display: flex;
    flex-direction: column;
    border: 2px solid salmon;
}

.stories-links{
    text-decoration: none;
    list-style: none;
    color: black;
}

.news-card-showmore{
    
}
