/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


.card{
    display: flex;
    flex-direction: column;    
}


.profile-card{
    padding: 20px;
    /* border: 2px solid red; */
    border-radius: 5%;
    width:250px; 
    height: 50%;
}

.profile-card-btn{
    cursor: pointer;
    margin-top: 15px;
    border: dotted;
    padding: 5px;
    padding-right: 115px;
    width: 200px;
}
.profile-info{
   display: flex;
   flex-direction: column;
   gap: 16px;
   margin-top: 15px;
}

.profile-info address {
  margin-top: 4px;
  font-style: normal;
  color: gray;
}

.links{
    text-decoration: none;
    color: black;
}

.profile-wrapper {
    margin: -20px -20px 0 -20px;
    position:relative;
    border-radius: 5%;
}

.profile-img {
    position: absolute;
    height: 80px;
    border-radius: 50%;
    border: 3px solid rgb(192, 192, 25);
    width: 80px; 
    bottom: 1px;
    left: 10px; 
}

.banner-img  {
  /* border: 2px solid black; */
  width: 248px;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;

}