.footer {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 15px;
}


.footer2-row1 { width: 79%;  }
.footer2-row2 { width: 97%;  }
.footer2-row3 { width: 111%; }


.footer2-row1,
.footer2-row2,
.footer2-row3 {
  display: flex;              
  justify-content: space-evenly;
}

.footer2-row1 a,.footer2-row2 a,.footer2-row3 a{
    list-style: none;
    text-decoration: none;
    color: black;
}