.footercontainer {
    /* border: 2px solid red; */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 11px;
    font-size: 13px;
}

.row {
    /* border: 2px solid green; */
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.indent {
    margin-left: 10px;  
}

.footercontainer a {
    text-decoration: none;
    color: #999;
}

.footercontainer a:hover {
    text-decoration: underline;
    color: blue;
}

.copyright {
    margin-top: 15px;
    font-size: 12px;
    color: #666;
}