*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.mainHeader{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */
    height: 50px;
    width: 300px;
}

.left{
    display: flex;
    gap: 10px;
    align-items: center ;
    /* border: 2px solid rgb(34, 0, 255); */
}

.image{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.right{
    display: flex;
    gap: 10px;
    align-items: center ;
    padding: 10px;
    /* border: 2px solid rgb(145, 145, 10); */
}

.secondHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  /* border: 2px solid purple; */
  width: 300px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

.secondHeader.active {
  max-height: 60px;
  opacity: 1;
}

.secondHeader input {
    width: 200px;
}
.dialogbox{
    position: absolute;
    left: 287px;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 20px;
    height: 500px;
    width: 300px;
}

.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.icons{
    display: flex;
    gap: 10px;
}

.Searchbar{
    border-bottom: 1px solid grey;
    padding: 10px;
}
.Searchbar input{
    border: none;
    width: 250px;
    padding: 10px;
}

.Searchbar input:hover{
  border: 1px solid grey;
  border-radius: 10px;
}
.Searchbar input:focus{
  border: 1px solid grey;
  border-radius: 10px;
}

.closeBtn{
    border: none;
    outline: none;
    cursor: pointer;
}

.suggested-container{
  margin: 5px 0 0 10px;
}

.suggested-list{  
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;    
}
.suggested-item {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #2c2f36;
}

.listimage{
    width: 45px;
}
.details{
    display: flex;
    flex-direction: column; 
}










