.messaging-chat-section{
    margin-right: 100px;
    display:flex;
    flex-direction:column;
    width:750px;
    height:800px;
    background-color:white;
    border-radius:10px;
}

.Header{
    display: flex;
    justify-content: space-between;
    padding:18px;

}
.header-left{
    gap:10px;
    display:flex;
}
.header-right{
    display:flex;
    gap:10px;
}
.header-right button{
    background-color:transparent;
    border:none;
    cursor:pointer;
}

.ChatList{
     display:flex;
    overflow:hidden;
}
.ChatList-Item{
    /* display:flex; */
    gap:10px;
    padding:10px;
    cursor:pointer;
}
.Chat-List-Item-left{
    display:flex;
    gap:10px;
}

.ChatAreaLayout{

    border:1px solid red;   
    flex-direction:column;
    display:flex;
    width:500px;
}

.chat-header-actions{
    display:flex;
    gap:10px;
    cursor:pointer;
}

.ChatAreaHeader{
    display:flex;
    justify-content:space-between;
}





.ChatAreaTextBox{
    position: relative;   
}


.textArea{
    position: absolute;
    width:400px;
    height:80px;
    padding:10px;
    border:1px solid black;
    font-size: larger;
    bottom:0;
}

.textBox button {
    background: transparent;
    border: 1px solid gray;
}

.menu-content{
    padding:18px;
    display:flex;
    gap:5px;
    /* border:2px solid blue; */
    z-index:1;
}

.menu-content button{
     font-size:14px;
    padding:5px;
    border:1px solid black;
    border-radius:8px;
    background-color:white;
    color:black;
    cursor:pointer;
    flex-shrink:0;
}


.Attachment-Toolbar{
    display:flex;
    gap:10px;
    padding:10px;
    justify-content:space-between;
}
.left-Attachment-actions{
    display:flex;
    gap:10px;
}

.left-Attachment-actions button{
    background-color:transparent;
    border:none;
    cursor:pointer;
}
.right-Attachment-actions{
    display:flex;
    gap:10px;
    align-items:center;
}

.dropdown-wrapper{
    position:relative;
}

.right-Attachment-actions button{
    background-color:transparent;
    border:none;
    cursor:pointer;
}

.attachment-dropdown{
    position: absolute;
    right:0;
    bottom:30px;
    width:150px;
    background-color:white;
    border:1px solid black;
    padding:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
}
.press-enter, .click-to-send{
    display:flex;
    align-items:center;
    gap:15px;
}
