
.profile-section{
    display: flex;
}

.profile-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-title{
    /* background-color: white; */
    border-radius: 12px;
}

.profile-summary{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    width: 1000px;
    /* padding: 15px; */
}
.profile-banner{
     display: block;
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.profile-pic{
     position: absolute;
    height: 100px;
    border-radius: 50%;
    /* border: 3px solid rgb(192, 192, 25); */
    width: 100px;
    bottom: 450px;
    left: 306px;
}

.profile-about{
    background-color: white;
}

.profile-analytics{
    background-color: white;
    border-radius: 12px ;
    width: 500px;
}

.profile-about{
     background-color: white;
     width: 500px;
     border-radius: 12px ;

}

.profile-activity{
    background-color: white;
    width: 500px;
    border-radius: 12px ;

}

.profile-carousel{
     background-color: white;
     display: flex;
     gap: 5px;
     width: 500px;
     border-radius: 12px;

}

.activity-header-info{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
}

.profile-experince{
    padding:15px;
    background-color: white;
    border-radius: 12px;
}

.profile-education{
    background-color: white;
    border-radius: 12px;
}

.profile-projects{
    background-color: white;
}

.profile-skills{
    background-color: white;
}

.profile-interest{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    width: 500px;
    border-radius:12px;
    background-color: white;
}

.Interest-cards {
    padding: 15px;
    /* border: 1px solid red; */
    
}

.interest-card{
    display: flex;
    gap: 5px;
    
}

.interest-card img {
    height: 20px;
    width: 20px;
}
.card-info{
    display: flex;
    flex-direction: column;
}

.interest-btn{
    display: flex;
    flex-direction: column;
    
}

.interest-btn button {
    padding: 10px;
    background-color: transparent;
    border: none;
}
.interest-btn button:hover{
    background-color: rgb(234, 229, 229);
}

.profile-interest-btns{
    display: flex;
    gap: 5px;
}

.profile-interest-btns button{
    font-size: medium;
    background-color: transparent;
    border: none;
}

.experience-section{
    padding:15px;
    display: flex;
    flex-direction: column;
}

.experince-section-header{
    display:flex;
    justify-content:space-between;
}

.experince-btn-group{
    display:flex;
    gap:10px;
}
.experince-btn-group button{
    background-color: transparent;
    border:none;
    font-size: 30px;
}

.profile-projects{
     padding: 15px;
    display: flex;
    flex-direction: column;
}

.profile-education{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.profile-education-header-details{
    display: flex;
    justify-content: space-between;
}

.education-btn-group{
    display: flex;
    gap: 10px;
}

.education-btn-group button{
   background-color: transparent;
    border: none;
   font-size: 30px;  
}


.profile-projects-header-section{
    display: flex;
    justify-content: space-between;
}

.projects-btn-group{
    display: flex;
    gap: 10px;

}

.projects-btn-group button{
     background-color: transparent;
    border: none;
    font-size: 30px;  
}


.profile-skills{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.profile-skills-header-section{
    display: flex; 
    justify-content: space-between;
}

.profile-skills-job-details{
    display: flex;
    gap: 8px;
}


.experience-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skills-btn-group{
    display: flex;
    gap: 10px;
}
.skills-btn-group button{
    background-color: transparent;
    border: none;
    font-size: 30px;
}

