
.profile-section{
    display: flex;
}

.profile-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-title{
    background-color: white;
    border-radius: 12px;
}

.profile-summary{
    background-color: white;
}

.profile-about{
    background-color: white;
}

.profile-analytics{
    background-color: white;
    border-radius: 12px ;
    width: 500px;
}

.profile-about{
     background-color: white;
     width: 500px;
     border-radius: 12px ;

}

.profile-activity{
    background-color: white;
    width: 500px;
    border-radius: 12px ;

}

.profile-carousel{
     background-color: white;
     display: flex;
     gap: 5px;
     width: 500px;
     border-radius: 12px ;

}

.profile-experince{
    background-color: white;
    border-radius: 12px;
}

.profile-education{
    background-color: white;
    border-radius: 12px;
}

.profile-projects{
    background-color: white;
}

.profile-skills{
    background-color: white;
}

.profile-interest{
    background-color: white;
}

