.chats-layout{
    display:flex;
    justify-content:space-between;
    gap:20px;

}

.chats-sidebar{
    /* border:1px solid blue;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px; */
  
}
/* .chats-main{

    /* border: 1px solid red;
    width: 500px;
    display: flex;
    justify-content: flex-end;
    /* flex-direction: column; */
    /* gap: 15px;
    
}*/ 

    
