*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.layoutheader{
    position: relative;
    border:2px solid red;
    height: 100vh;
    width: 100vw;
}
.mainheader{
  position: fixed;
}

.messagingSection{
    position: fixed;
    bottom: 0px;
    right: 20px;
}



.mainContent{
    /* border: 2px solid purple; */
    margin: 100px;
    height: 500px;
    display: flex;
    justify-content: space-between;   
}

.profileSection{
     /* border: 2px solid purple;  */
      width: 250px;
}

.middleSection{
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(246, 1, 209); */
    /* padding: 15px; */
    gap: 15px;
}

.rightSection{
    flex: 0 0 100px;
}