*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.layoutheader{
  /* border: 1px solid red; */
  /* min-height: 100vh; */
  /* padding-top: 5px;   */
}
.mainheader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.messagingSection{
    position: fixed;
    bottom: 0px;
    right: 20px;
}
.mainContent{
    margin: 100px 191px 100px 196px;
    height: 500px;
    display: flex;
    justify-content: space-around;   
}

.profileSection{
      width: 250px;
}

.middleSection{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rightSection{
    flex: 0 0 100px;
}