*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
background-color: #F4F2EE;
}
/* .layoutheader{
  border: 1px solid red; 
  min-height: 100vh;
  padding-top: 5px;  
} */


.mainheader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;

}
.messagingSection{
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 2000;
}


.mainContent{
    /* border: 2px solid red; */
    max-width: 1128px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.profileSection{
    /* background-color: white; */
    /* border: 2px solid red; */
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-shrink: 0;
}

.middleSection{
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    flex-shrink: 0;
}

.rightSection{
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    flex-shrink: 0;
}
