.upper-row{
    display: flex;
   justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
    padding: 10px;
}
.down-row{
     display: flex;
   justify-content: space-between;

    padding: 10px;
}


.btn-1 {
    cursor: pointer;
    background-color: white;
    color: #186FC6;
    padding: 5px 15px;
    border-radius: 20px;
    border-color: #186FC6;
}
.btn-1:hover {
    background-color: #186FC6;
    color: white;
}